@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  font-family: Rubik, sans-serif;
  overflow:hidden;
}

#__next, .Page {
  width: 100%;
  height: 100%;
}

.Body {
  margin: 15px 0px;
  height: calc(100% - 75px);
  overflow: auto;
  width: 100%;
  overflow:hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}